*
!*/
.config/*
!.config/*/
!.config/hypr/*
!.config/kitty/*
.wallpaper/*
!.wallpaper/
!.wallpaper/*.*
!.config/rofi/*
!.config/waybar/*
!.config/nvim/*
!.config/nvim/lua/keybindings/init.lua
!.config/tmux/*
!.config/
!.zshrc
!.p10k.zsh
Documents
.local/
.tmux/
.cargo/
.cache/
.config/spicetify/
.config/spicetify/*
.config/spicetify/Themes/spicewal
