*
!*/
.config/*
!.config/*/
!.config/hypr/*
!.config/kitty/*
!.config/qutebrowser/themes/*
!.config/qutebrowser/config.py
!.config/rofi/config.rasi
.local/*
!.local/*/
!.local/share/rofi/themes/launchpad.rasi
!.zshrc
!.p10k.zsh
!.config/neofetch/config.conf
Documents
.tmux/
.cargo/
.cache/
