@import url('file:///home/elis/.cache/wal/colors-waybar.css');

* {
	border-radius: 0;
	transition: all 0.5s ease;
	color: @foreground;
	all: unset;
	font-family: 'GohuFont11 Nerd Font Mono'
}

s window {
	background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
	background: @background;
	border: 2px solid @color12;
	border-radius: 100px;
	padding: 0 0;
}

.modules-right {
	padding-top: 0;
}

.modules-center {
	padding: 0;
}

.modules-center #workspaces>button:nth-child(1) {
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
}

.modules-center #taskbar>button:nth-last-child(1) {
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
}

#workspaces>button.empty {
	color: #565f89;
}

#workspaces>button.urgent {
	color: #f7768e;
}

#workspaces>button.active {
	color: #7dcfff;
}

#workspaces>button {
	color: #c0caf5;
	font-size: 20px;
	transition: all 0.3s ease;
	margin: 0 2.5px
}

#workspaces {
	padding: 10px 0;
}


#group-player {
	background-color: @color1;
	border-radius: 16px 100px 100px 16px;
	padding: 0 16px;
	margin: 2px 2px 2px 1px
}

#cava {
	margin: 0;
	padding: 0;
	font-size: 8px;
}

#group-power {
	padding: 7px;
}

#custom-power,
#custom-quit,
#custom-reboot {
	padding: 2.5px 15px;
	border-radius: 100px;
	margin: 2.5px;
	background: @color1;
}

#custom-infolabel {
	font-size: 28px;
}

#tray {
	padding: 2px;
	background: @color1;
	margin: 2px 1px 2px 2px;
	border-radius: 100px 16px 16px 100px;
}

#win {
	padding: 2px 7px;
	margin: 2px;
	background-color: @color1;
	border-radius: 100px;
}

#window.win2 {
	color: #565f89;
}

#group-info {
	background: @color1;
	margin: 2px 2px 2px 5px;
	padding: 0 5px;
	border-radius: 16px 100px 100px 16px;
}

#group-info .not-info {}




