@import url('file:///home/elis/.cache/wal/colors-waybar.css');

* {
	border-radius: 0;
	transition: all 0.5s ease;
	color: @foreground;
	all: unset;
	font-family: 'GohuFont11 Nerd Font Mono'
}

window {
	background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
	background: @background;
	border: 2px solid @color12;
	border-radius: 100px;
	padding: 0 0;
}

.modules-right {
	padding-top: 0;
}

.modules-center {
	padding: 0;
}

.modules-center #workspaces>button:nth-child(1) {
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
}

.modules-center #taskbar>button:nth-last-child(1) {
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
}

#workspaces>button.empty {
	color: @color8;
}

#workspaces>button.urgent {
	color: @color2;
}

#workspaces>button.active {
	color: @color1;
}

#workspaces>button {
	color: @foreground;
	font-size: 20px;
	transition: all 0.3s ease;
	margin: 0 2.5px
}

#workspaces {
	padding: 10px 0;
}


#group-player {
	background-color: @color1;
	border-radius: 16px 100px 100px 16px;
	padding: 0 16px;
	margin: 2px 2px 2px 1px
}

#cava {
	margin: 0;
	padding: 0;
	font-size: 8px;
}

#group-power {
	padding: 7px;
}

#custom-notif {
	padding: 2.5px 15px;
	border-radius: 100px;
	margin: 9.5px;
	background: @color1;
}

#custom-infolabel {
	font-size: 28px;
}

#tray {
	padding: 2px;
	background: @color1;
	margin: 2px 1px 2px 2px;
	border-radius: 100px 16px 16px 100px;
}

#win {
	padding: 2px 7px;
	margin: 2px 2px 2px 1px;
	background-color: @color1;
	border-radius: 16px 100px 100px 16px;
}

#window {
	color: @foreground;
}

#window.win2 {
	color: @foreground;
	opacity: 0.7;
}

#group-info {
	background: @color1;
	margin: 2px 2px 2px 5px;
	padding: 0 5px;
	padding-right: 0;
	border-radius: 16px 100px 100px 16px;
}

#custom-infolabel {
	padding-right: 5px;
}

#pulseaudio {
	background-color: @color2;
	padding: 0 10px;
	margin: 1px;
	border-radius: 100px 16px 16px 100px;
}

#cpu {
	background-color: @color3;
	padding: 0 10px;
	margin: 1px;
	border-radius: 3.5px;
}

#memory {
	background-color: @color4;
	padding: 0 10px;
	margin: 1px;
	border-radius: 3.5px;
}

#battery {
	background-color: @color7;
	padding: 0 10px;
	margin: 1px;
	border-radius: 3.5px;
}

#custom-kb {
	background-color: @color8;
	padding: 0 10px;
	margin: 1px;
	border-radius: 3.5px;
}

#disk {
	background-color: @color5;
	padding: 0 10px;
	margin: 1px;
	border-radius: 16px 100px 100px 16px;
}

#custom-wal {
	background-color: @color6;
	padding: 0 10px;
	margin: 2px 1px 2px 2px;
	border-radius: 100px 16px 16px 100px;
	font-size: 20px;
}

#custom-sback,
#custom-playpause,
#custom-sfw {
	margin: 8px 2px;
	border-radius: 3.5px;
	padding: 2px 8px;
}

#custom-sback {
	background: @color3;
}

#custom-playpause {
	background: @color4;
}

#custom-sfw {
	background: @color5;
}
